name: Nikhil Raghavendra
description: ⚔️ Non Desistas Non Exieris ⚔️
meta_description: "I am a Computer Engineering graduate from Singapore Polytechnic currently serving the nation. I'm awaiting entry into Nanyang Technological University's Electrical and Electronic Engineering program next year."
meta_tags: "nikhil, sp, singapore polytechnic, computer, computer engineering, ntu, nanyang technological university, space, eee"

aboutPage: true

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM

plugins:
  - jekyll-sitemap
  - jekyll-paginate

paginate: 2000
baseurl:
domain_name: 'https://geekfile.xyz'

#social-icons 
twitter: AstroRaghava
instagram: nikhilraghava
linkedin: nikhilraghavendra
github: nikhilraghava
email: raghavendranikhil@gmail.com

# Details for the RSS feed generator
url:            'https://geekfile.xyz'
author:         'Nikhil Raghavendra'
authorTwitter:  'AstroRaghava'

permalink:       /:year/:title/

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
