---
---
@import url('https://unpkg.com/primer/build/build.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');
@import 'highlight-syntax';

body {
  font-family: 'Rubik', sans-serif;
}

// White background
div.bg-gray-light {
  background: #ffffff !important;
}

img {
  max-width: 100%; 
  display: block; 
  height: auto;
  border-radius: 8px;
}

img.marvel {
  border-radius: 0px;
}

h1.myname {
  font-size: 2em !important;
}

// Code block
div.highlight {
  margin-top: 16px;
  margin-bottom: 12px;
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

pre {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 1em;
	margin-bottom: 10px;
	overflow-x: auto;
	vertical-align: text-bottom;
}

code {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: .2em .4em;
	font-size: 80%;
}

pre code {
	background: transparent;
	border: 0;
	padding: 0;
	font-size: 80%;
}

.repo-language-color {
	filter: brightness(125%) !important;
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	position: relative;
	top: 2px;
	width: 12px;
}

// Style for caption
img + em { 
	display: block;
	color: #555;
	font-size: 0.85em;
	text-align: center;
	margin-top: 6px;
}

a + em {
	display: block; 
	color: #555;
	font-size: 0.85em;
	text-align: center;
	margin-top: 6px;
}

// Indent and style lists
ol, ul {
  margin-left: 30px;
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  margin-bottom: 5px;
}

ul.list-style-none {
  padding-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; 
}

// Object tag
object {
  pointer-events: none;
}

// Table
table {
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; 
}
  
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; 
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; 
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0; 
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; 
}

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4 {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}
